.home {
  min-height: 90vh;
  padding:6rem 0 0;
}

.intro {
  padding-bottom: 4rem;
  background:linear-gradient(to top, #1d1724ed, #221b2b 2% )
}
.intro h1 {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1rem;
  line-height: 1;
}

.intro h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1.125rem;
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  color: #82788f;
}

.home hr {
  color: #302b37;
  background: linear-gradient(to right, #221b2b, #302b37, #221b2b);
  height: 1px;
  border: 0;
  margin: 0;
}

.directions {
  display:flex;
  margin-top:4rem;
}

.tableContainer {
  background-color: white;
  border-radius:3px;
}

.tableContainer table {

}